.hover-card {
	transition: 0.3s;
}
		
.hover-card:hover {
	box-shadow: 3px 3px 3px grey;
	border: 1px solid rgba(0, 0, 0, 0.5);
	transform:scale(1.03);
}

.separator {
	height: 5px;
	background-color: #6c757d;
	margin: 20px 0;
}