

body {
    font-family: Roboto, sans-serif;
    background-color: rgb(43, 22, 54);
    text-align: center;
    align-items: center;
}

/* https://developers.google.com/fonts/docs/getting_started */

h1 {
    color: palegoldenrod;
}

h2 {
    color: palegoldenrod;
    font-size: 72px;
}

.weatherData {
    color: palegoldenrod;
    text-align: center;
    align-items: center;
    font-weight: bold;
}