html, body {
    scroll-behavior: smooth;
	background: rgb(41, 38, 43);
	margin: 0;
	color: #F3E2C6;
	font-size: 24px;
	font-family: Roboto, sans-serif;
}

.header {
    background-color: rgb(245, 245, 231);
	color: #333;
    width: 100%;
    height: 100px;
	display: flex;
    align-items: center;
}

#tobo-games {
	width: 50%;
	margin-left: 20%;
	text-align: left;
    padding: 10px;
    font-size: 75px;
	font-weight: bold;
	white-space: nowrap;
}

/* https://developers.google.com/fonts/docs/getting_started */

.container {
	padding: 15px 20px 20px 20px;
	width: calc(100% - 50px);
	text-align: center;
	border: 5px solid #F3E2C6;
	border-radius: 25px;
	max-width: 1000px;
	margin: auto;
	margin-top: 20px;
}

.projects {
    justify-content: center;
    align-items: center;
  }

.download-button {
    position: relative;
    color: palegoldenrod;
    background-color: transparent;
	font-family: Roboto, sans-serif;
    width: 32%;
    height: 50px;
    font-size: 32px;
    border: 3px solid palegoldenrod;
    border-radius: 5px;
    -webkit-transition: all 100ms ease-in, all 100ms ease-in;
    -o-transition: all 100ms ease-in, all 100ms ease-in;
    transition: all 100ms ease-in, all 100ms ease-in;
}

a {
    color: palegoldenrod;
    width: 500px;
    height: 50px;
    font-size: 32px;
}

#download-button:hover {
    border-color:white;
    background-color:#f4fad021;
    -webkit-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    color: palegoldenrod;
}

#download-button:active {
    background-color: palegoldenrod;
    color: rgb(43, 22, 54);
}

#pee-button:hover {
    border-color:white;
    background-color:#f4fad021;
    -webkit-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    color: palegoldenrod;
}

#pee-button:active {
    background-color: palegoldenrod;
    color: rgb(43, 22, 54);
}
#header-links {
	width: 50%;
	margin-right: 20%;
	text-align: right;
    padding: 10px;
    font-size: 75px;
	font-weight: bold;
}

#header-links > a {
	color: #51515e;
    font-size: 32px;
	text-decoration: none;
	
}

#header-links > span {
	font-size: 32px;
}
