html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
    background-color: rgb(43, 22, 54);
    text-align: center;
    align-items: center;
}

/* https://developers.google.com/fonts/docs/getting_started */

h1 {
    color: palegoldenrod;
}

h2 {
    color: palegoldenrod;
    font-size: 72px;
}

.weatherData {
    color: palegoldenrod;
    text-align: center;
    align-items: center;
    font-weight: bold;
}

.link1 {
    text-align: left;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 30px;
}

button {
    font-family: Roboto, sans-serif;
    color: palegoldenrod;
    background-color: transparent;
    width: 300px;
    height: 50px;
    font-size: 32px;
    border: 3px solid palegoldenrod;
    border-radius: 5px;
    -webkit-transition: all 100ms ease-in, all 100ms ease-in;
    -o-transition: all 100ms ease-in, all 100ms ease-in;
    transition: all 100ms ease-in, all 100ms ease-in;
}

a {
    font-family: Roboto, sans-serif;
    color: palegoldenrod;
    width: 300px;
    height: 50px;
    font-size: 32px;
}

button:hover {
    border-color:white;
    background-color:#f4fad021;
    -webkit-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    color: palegoldenrod;
}

button:active {
    background-color: palegoldenrod;
    color: rgb(43, 22, 54);
}