.projects {
    justify-content: center;
    align-items: center;
  }

.download-button {
    position: relative;
    color: palegoldenrod;
    background-color: transparent;
    width: 32%;
    height: 50px;
    font-size: 32px;
    border: 3px solid palegoldenrod;
    border-radius: 5px;
    -webkit-transition: all 100ms ease-in, all 100ms ease-in;
    -o-transition: all 100ms ease-in, all 100ms ease-in;
    transition: all 100ms ease-in, all 100ms ease-in;
}

a {
    color: palegoldenrod;
    width: 500px;
    height: 50px;
    font-size: 32px;
}

#download-button:hover {
    border-color:white;
    background-color:#f4fad021;
    -webkit-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    color: palegoldenrod;
}

#download-button:active {
    background-color: palegoldenrod;
    color: rgb(43, 22, 54);
}

#pee-button:hover {
    border-color:white;
    background-color:#f4fad021;
    -webkit-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    color: palegoldenrod;
}

#pee-button:active {
    background-color: palegoldenrod;
    color: rgb(43, 22, 54);
}