<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="===DESCRIPTION HERE===">
	
	<link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="48x48"/>
	<link rel="shortcut icon" href="/favicon.ico"/>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
	<link rel="manifest" href="/site.webmanifest"/>

	<title>TITLE HERE (REMEMBER DESCRIPTION TOO)</title>
	<!-- Bootstrap -->
	<link href="/css/bootstrap-4.4.1.css" rel="stylesheet">
	<link href="/css/util.css" rel="stylesheet">
</head>

<body>
	<div id="fullpage" onclick="this.style.display='none';" style="cursor:zoom-out" tabindex="-1" aria-hidden="true"></div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/index.html">tobo.games</a>
      	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      	<span class="navbar-toggler-icon"></span>
      	</button>
      	<div class="collapse navbar-collapse" id="navbarSupportedContent">
        	<ul class="navbar-nav mr-auto">
				<li class="nav-item">
            		<a class="nav-link" href="/Blog/index.html">Blog</a>
          		</li>
				<!--
				<li class="nav-item">
            		<a class="nav-link" href="/portfolio.html">Portfolio</a>
          		</li>
				-->
          		
				<!--
          		<li class="nav-item dropdown">
            		<a class="nav-link dropdown-toggle" href="#" id="projectDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            		Projects
            		</a>
            		<div class="dropdown-menu" aria-labelledby="projectDropdown">
					  	<a class="dropdown-item" href="/Projects/index.html">Projects Home Page</a>
						<div class="dropdown-divider"></div>
					  	<a class="dropdown-item" href="/Projects/Personal/index.html">Game Dev - Personal</a>
					  	<a class="dropdown-item" href="/Projects/School/index.html">Game Dev - School</a>
						<a class="dropdown-item" href="/Projects/Engineering/index.html">Engineering</a>
            		</div>
          		</li>
				-->
				<li class="nav-item">
            		<a class="nav-link" href="/index.html#projects">Projects</a>
          		</li>
				<li class="nav-item dropdown">
            		<a class="nav-link dropdown-toggle" href="#" id="contactDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            		Contact
            		</a>
            		<div class="dropdown-menu" aria-labelledby="contactDropdown">
					  	<a class="dropdown-item p-1" href="mailto:evandaveikis@gmail.com" aria-label="Email">
							<img src="/images/email-icon.svg" width="20" height="20" alt="Email icon">
							Send Email
						</a>
    					<a class="dropdown-item p-1" href="https://github.com/tobogganeer" target="_blank" rel="noopener" aria-label="GitHub">
							<img src="/images/github-mark.svg" width="20" height="20" alt="Github logo">
							GitHub Profile
						</a>
						<a class="dropdown-item p-1" href="https://itch.io/profile/tobogganeer" target="_blank" rel="noopener" aria-label="Itch.io">
							<img src="/images/itchio-logo-textless-black.svg" width="20" height="20" alt="Github logo">
							Itch.io Page
						</a>
            		</div>
          		</li>
				<li class="nav-item">
            		<a class="nav-link" href="/about.html">About</a>
          		</li>
				<li class="nav-item">
            		<a class="nav-link" href="/VVGamesLauncher.exe" role="button" download>Download Launcher</a>
          		</li>
        	</ul>
      	</div>
    </nav>
    <section>
      	<div class="jumbotron text-center mt-2 p-4">
        	<div class="container">
          		<div class="row justify-content-center">
            		<div class="col-12">
           			  	<h1 style="font-size: 4rem">Project Name</h1>
						<p style="font-size: 1.25rem">Small description</p>
						<!--<p><a class="btn btn-secondary" href="../index.html" role="button">&lt; Back to project list</a></p>-->
						<p><a class="btn btn-secondary" href="/index.html#projects" role="button">&lt; Back to project list</a></p>
            		</div>
          		</div>
			</div>
      	</div>
    </section>
    <section>
		<div class="container">
			
			<!-- Images -->
			<div class="row">

				<!-- Big image -->
				<div class="col-12 col-lg-6">
					<div class="img-box img-big">
						<span class="img-label">Label</span>
						<img src="Images/placeholder.jpg" class="click-to-zoom img-border" alt="">
					</div>
				</div>

				<!-- Medium images -->
				<div class="col-12 col-lg-3">
					<div class="row no-gutters">
						<div class="col-6 col-lg-12">
							<div class="img-box img-small">
								<span class="img-label">Label</span>
								<img src="Images/placeholder.jpg" class="click-to-zoom img-border" alt="">
							</div>
						</div>
						<div class="col-6 col-lg-12">
							<div class="img-box img-small">
								<span class="img-label">Label</span>
								<img src="Images/placeholder.jpg" class="click-to-zoom img-border" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-3">
					<div class="row no-gutters">
						<div class="col-6 col-lg-12">
							<div class="img-box img-small">
								<span class="img-label">Label</span>
								<img src="Images/placeholder.jpg" class="click-to-zoom img-border" alt="">
							</div>
						</div>
						<div class="col-6 col-lg-12">
							<div class="img-box img-small">
								<span class="img-label">Label</span>
								<img src="Images/placeholder.jpg" class="click-to-zoom img-border" alt="">
							</div>
						</div>
					</div>
				</div>

		  	</div>
			
			<!-- Text -->
			<hr>
			
			<div class="row">
				
				<div class="col-md-5 col-lg-2 card">
					<div class="card-body px-0">
						<h2>Tools</h2>
						<ul class="list-group">
							<li class="list-group-item py-1 pl-3">Unity Engine</li>
							<li class="list-group-item py-1 pl-3">Photoshop</li>
							<li class="list-group-item py-1 pl-3">Audacity</li>
							<li class="list-group-item py-1 pl-3">Confluence &amp; Jira</li>
							<li class="list-group-item py-1 pl-3">Github REMEMBER TO CHANGE THESE =============</li>
						</ul>
					</div>
				</div>
				<div class="col-md-7 col-lg-4 card">
					<div class="card-body px-0">
						<h2>Roles</h2>
						<h5>Role Name</h5>
						<ul>
							<li>List tasks and responsibilities</li>
						</ul>
					</div>
				</div>
				<div class="col-12 col-lg-6 card">
					<div class="card-body px-0">
						<h2>Challenges</h2>

						<h5>Name of challenge #1</h5>
						<p>Give the problem/challenge. Then discuss how it was overcome. Then say what happened (resolution, takeaways)</p>
					</div>
				</div>
				
			</div>
			
			<hr>
			
			<div class="row">
				
				<div class="col-12 col-lg-6">
					<h2>Skills Gained</h2>
					<h5>Name of skill #1</h5>
					<p>Here's what the skill is. Here's me expanding on that idea (explain what it is and how I gained it). Here's why it will be useful in the future.</p>
				</div>
				<div class="col-12 col-lg-6">
					<h2>Takeaways</h2>
					<h5>Name of takeaway #1</h5>
					<p>Here's the valuable thing you can take away yourself. Here's more detail expanding on how I came across it. Here's why it's valuable, or how I used it.</p>
				</div>
				
			</div>
			
			<div class="separator"></div>
			
			<h1 class="text-center">Gallery</h1>
			
			<div class="row">
				<div class="col gallery">
					<figure>
						<img src="Images/placeholder.jpg" class="click-to-zoom height-300-scale-mobile" alt="alt text here - an image of (blank)">
						<img src="Images/placeholder.jpg" class="click-to-zoom height-300-scale-mobile" alt="alt text here - an image of (blank)">
						<figcaption>Big image</figcaption>
					</figure>
				</div>
			</div>
			<div class="row">
				<div class="col gallery">
					<figure>
						<img src="Images/placeholder.jpg" class="click-to-zoom height-300-scale-mobile" alt="alt text here - an image of (blank)">
						<figcaption>Small image</figcaption>
					</figure>
				</div>
				<div class="col gallery">
					<figure>
						<img src="Images/placeholder.jpg" class="click-to-zoom height-300-scale-mobile" alt="alt text here - an image of (blank)">
						<figcaption>Small image</figcaption>
					</figure>
				</div>
			</div>
			
      	</div>
    </section>
    <hr>
    <footer class="text-center">
      	<div class="container">
        	<div class="row">
          		<div class="col-12">
            		<p class="mb-0">Evan Daveikis 2026</p>
			  		<small class="mt-0 pb-3 text-muted">Very clearly not a web designer but I'm trying to learn!</small>
          		</div>
        	</div>
      	</div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap-4.4.1.js"></script>
	<script src="/js/fullscreen-images.js"></script>
</body>
</html>