/* CSS Document */

body {
	background: #eaeaed;
	color: #1a1a1a;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 1.2;
	margin: 0;
	padding: 0;
	position: relative;
}

p {
	font-size: 14pt;
}

#hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url('images/Hero.webp');
	background-position: center;
	background-size: cover;
	min-height: 300px;
}

h1, h2, h3 {
	font-weight: 600;
}

section {
	padding: 40px 30px 40px 30px;
}

.text-light {
	color: #F7F7F7;
}

.text-shadow {
	filter: drop-shadow(2px 2px 1px #111);
}

.content {
	width: min(70%, 100% - 400px); /* Open button is 180px */
	height: 100%;
	background: #FFF;
}

.center {
	margin: auto;
}
.row {
	display: inline-flex;
}


.column {
	padding-left: 0;
    padding-right: 0;
}