/* CSS Document */

.forum-post {
	margin: 10px;
	padding: 5px 10px;
	border: 2px solid #BBB
}

.forum-post h2 {
	font-size: 24pt;
	text-decoration: underline;
}

.forum-post h3, .forum-post p {
	padding-left: 20px;
	font-weight: 400;
	font-size: 12pt;
}

.forum-post h3 {
	margin-bottom: 0;
}

.forum-post p {
	color: #3952B3;
	margin-top: 0;
}