figure > img {
	height: 300px;
	border: 3px solid #888;
}

figure {
	align-content: center;
	text-align: center;
	font-size: 1em;
	font-style: italic;
	color: #666;
}

.carousel-img {
	object-fit: cover;
	height: 500px;
}

@media (max-width: 768px) {
	figure > img {
		height: 250px;
	}
	.carousel-img {
		height: 300px;
	}
}

@media (max-width: 576px) {
	figure > img {
		height: 200px;
	}
	.carousel-img {
		height: 230px;
	}
}